<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gpsanalyzer" type="Tiger.GpsAnalyzer.Configuration.ConfigSectionHandler, Tiger.GpsAnalyzer"/>
  </configSections>
  <gpsanalyzer>
    <!--编码方式：ASCII，BigEndianUnicode，Unicode，UTF32，UTF7，UTF8-->
    <encoding value="ASCII" />
  </gpsanalyzer>
</configuration>