<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="def.config1" type="Ian.HttpClient.Configuration.ConfigSectionHandler, Ian.HttpClient" />
    <section name="def.config2" type="Ian.HttpClient.Configuration.ConfigSectionHandler, Ian.HttpClient" />
  </configSections>
  <def.config1>
    <conf>
      <name value="test-config1" />
      <serverip value="localhost:23586" />
      <apiuri value="api" />
    </conf>
    <conf>
      <name value="test-config2" />
      <serverip value="localhost:23586" />
      <apiuri value="api" />
    </conf>
  </def.config1>
  <def.config2>
    <conf>
      <name value="test-config3" />
      <serverip value="localhost:23586" />
      <apiuri value="api" />
    </conf>
  </def.config2>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <appSettings>
    <clear />
  </appSettings>
</configuration>